*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* Navigation Bar */
.tablEd{
    border-collapse: collapse;
    border: 2px solid black;
}
.navigation-bar{
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 7.5vh;
    width: 100vw;
    background-color: rgb(0, 179, 255);
    box-shadow:  0 0 16px silver;
}
.menu-navbar{
    padding-right: 18px;
    align-items: center;
    display: flex;
}
.menu-navbar li{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    padding: 0 2rem;
}
.menu-navbar li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
}
.menu-navbar li a:hover{
    color: rgb(8, 0, 255);
}
.portoAing{
    display: none;
}
.portoAing li{
    padding: 0.2rem 0;
}
.menu-navbar li:hover .portoAing{
    display: block;
    position: absolute;
    padding: 1.5vh 2vw;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(0, 179, 255);
    border-radius: 4px;
    text-align: center;

}
.menu-navbar li:hover .portoAing li a{
    display: block;
    padding: 0;
    color: rgb(255, 255, 255);
    text-align: center;
}
.menu-navbar li:hover .portoAing li a:hover{
    color: rgb(8, 0, 255);
}
/* Judul */
.judul{
    height: 10vh;
    width: 100vw;
}
.judul h1{
    margin: 2.5vh;
    display: flex;
    justify-content: center;
    font-size: 48px;
}
.judul h1 span{
    display: flex;
    justify-content: center;
    color: rgb(0, 179, 255);
    font-size: 48px;
    margin-left: 10px;
}
/* About Me */
.tentangKu-size{
    width: 100vw;
    height: 100vh;
    background-color: beige;
}
.tentangKu{
    margin: 0vh 5vw;
    width: 90vw;
    height: 100vh;
}
.tentangKu h1{
    display: flex;
    justify-content: center;
    font-size: 40px;
}
.tentangKu .img-container{
    display: flex;
    justify-content: center;
    padding: 1.5vh 0;
}
.tentangKu h2{
    display: flex;
    justify-content: center;
    font-size: 24px;
    padding: 1.5vh 0;
}
.tentangKu p{
    font-size: 18px;
}
/* Contact */
.kontakAja{
    display: flex;
}
.hubAja{
    height: 100vh;
    width: 100vw;
    margin: 10vh 2vw;
}
.hubAja h1{
    font-size: 48px;
    text-align: center;
    margin: 5px;
}
.hubAja h1 span{
    color: rgb(0, 179, 255);
}
form{
    margin: 1vh 2.5vw;
    position: absolute;
    width: 90vw;
}
form div{
    margin: 1.5vh 0;
    font-size: 18px;
    color: black;
}
form input{
    margin: 1vh 0;
    padding: 10px 5px 10px 5px;
    font-size: 18px;
    width: 100%;
}
.komentar textarea{
    width: 50%;
    max-width: 100%;
    font-size: 18px;
    padding: 10px 5px 10px 5px
}
.reset-submit button{
    padding: 12px;
    font-size: 18px;
    margin: 0 1vw 0 1vw ;
    border-radius: 12px;
    background-color:rgb(255, 255, 255);
    color:rgb(0, 179, 255);
    border-color:rgb(0, 179, 255);
    box-shadow: 0 0 16px silver;
}
.reset-submit button:hover{
    color: rgb(255, 255, 255);
    background-color:rgb(0, 179, 255);
}